# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# folder Debug
Debug/

# folder Release
Release/
.vs/dsMAP/v14/.suo
*.log
Debug/dsMAP.tlog/link.command.1.tlog
Debug/dsMAP.tlog/link.read.1.tlog
*.tlog
dsMAP.vcxproj.user
*.idb
*.pdb
*.db
